body {
    background-color: papayawhip;
}
.header {
    display: flex;
    justify-content: space-around;
}
.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.search {
    text-align: center;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.yellow {
    color: gold;
}
.green {
    color: green;
}
#searchForm {
    margin-top: 8%;
}
#searchForm input {
    padding: 3%;
    margin: 2%;
}
h2{
    padding-left: 8%;
}
.book {
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    padding: 1% 5% 1% 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: floralwhite;
}
.book:last-child {
    border-bottom: 1px solid black;
}
.bookImg {
    display: flex;
    align-items: center;
    padding: 0 8% 0 2%;
}



